name: skipapp-ahoy
on:
  push:
    branches: '*'
    tags: "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron: '30 6 * * *'
  workflow_dispatch:
  pull_request:

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  verify-app:
    runs-on: macos-15-intel
    steps:
      - name: Cache Homebrew packages
        uses: actions/cache@v5
        with:
          path: ~/Library/Caches/Homebrew
          key: homebrew-packages
      - uses: skiptools/actions/setup-skip@v1
      - uses: actions/checkout@v6
        with:
          path: skipapp-ahoy-repo
      - name: Compare ahoy-skip template with skipapp-ahoy repo
        run: |
          ./skipapp-ahoy-repo/scripts/diff_template.sh skipapp-ahoy skipapp-ahoy-repo
  call-workflow:
    uses: skiptools/actions/.github/workflows/skip-app.yml@v1

